* {
  box-sizing: border-box;
  font-family: 'SCDream', 'TRoundWind', sans-serif;
  user-select: none;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
}

/* side Drawer animation */
.slide-left-enter {
  transform: translateX(-100%);
}

.slide-left-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 200ms;
}

.slide-left-exit {
  transform: translateX(0%);
}

.slide-left-exit-active {
  transform: translateX(-100%);
  opacity: 1;
  transition: all 200ms;
}

@font-face {
  font-family: 'SCDream';
  font-style: normal;
  font-weight: 400;
  src: url("asset/font/SCDream4.woff") format('woff');
}

@font-face {
  font-family: 'SCDream';
  font-style: normal;
  font-weight: 500;
  src: url("asset/font/SCDream5.woff") format('woff');
}

@font-face {
  font-family: 'SCDream';
  font-style: normal;
  font-weight: 600;
  src: url("asset/font/SCDream6.woff") format('woff');
}

@font-face {
  font-family: 'SCDream';
  font-style: normal;
  font-weight: 700;
  src: url("asset/font/SCDream7.woff") format('woff');
}

@font-face {
  font-family: 'TRoundWind';
  font-style: normal;
  font-weight: normal;
  src: url("asset/font/TmoneyRoundWindRegular.woff") format('woff');
}

@font-face {
  font-family: 'TRoundWind';
  font-style: normal;
  font-weight: 700;
  src: url("asset/font/TmoneyRoundWindExtraBold.woff") format('woff');
}